.root {
    -fx-font-family: "Open Sans";
}

.spider-map-pane {
    -fx-background-color: -spidermap-bg-color;
}

.contextmenu {
    -fx-background-color:rgb(39, 51, 77); 
    -fx-text-fill: rgb(125, 120, 120); 
    -fx-background-radius: 5px;
}