
.root {
-spidermap-bg-color:       #171F2A;
-panels-bg-color:          #1a273b;
-icon-container-color:     #171F2A;
-node-bg-color:            #222E3C;
-node-border-color:        #003b41;
-node-glow-color:          #00393e;
-node-glow-hovered-color:  #004f57; /* pick whatever you like */
-field-bg-color:           #171F2A;
-primary-button-color:     #4D627E;
-accent-color-1:           #5593A5;
-text-color-1:             #FFFFFF;
-slide-panel-background: #1a273b;
-input-background: #111b2b;
-text-primary: #FFFFFF;
-text-secondary: #8899AA;
-text-disabled: #4A5568;
-button-primary: #335ea1;
-button-primary-hover: rgb(86, 111, 146);
-button-disabled: #1A202C;
}