.nodedetail-panel {
    -fx-background-color: #182030; /* #13213F with opacity */
    -fx-border-color: #3B3B3B;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
}

.nodedetail-header {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px
}

.nodedetail-grid {
    /* Additional grid styling can be added here if needed */
}

.nodedetail-label {
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.nodedetail-textfield {
    -fx-font-size: 10px;
    -fx-pref-width: 100px;
}

.nodedetail-combobox {
    -fx-font-size: 10px;
    -fx-pref-width: 100px;
}

.nodedetail-colorpicker {
    -fx-pref-width: 100px;
}

.nodedetail-uptime {
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.nodedetail-update-button {
    -fx-background-color: rgb(58, 248, 0);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px 20px;
}

/* When update button is enabled, you can add a pseudo-class styling, e.g., */
/* .nodedetail-update-button:enabled { */
/*     -fx-background-color: green; */
/* } */
