.root {
    -fx-font-family: "Open Sans";
}

/* Node container styling */
.node-container {
    -fx-padding: 5px;

}

.node-background {
    -fx-fill: #182030;           /* desired background color */      /* desired border color */
    -fx-stroke-width: 1px;
    -fx-arc-width: 20px;
    -fx-arc-height: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0.5, 0, 0);
}

/* Node label styling */
.node-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Latency label styling */
.latency-label {
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.latency-container {
    -fx-background-color: #182030;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-padding: 4px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}


