.root {
    -fx-font-family: "FiraCode Nerd Font Mono";
}

/* Node container styling */
.node-container {
    -fx-padding: 5px;

}

.node-background {
    -fx-fill: #1d2638;           /* desired background color */
    -fx-stroke: white;           /* desired border color */
    -fx-stroke-width: 2px;
    -fx-arc-width: 20px;
    -fx-arc-height: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0.5, 0, 0);
}

/* Node label styling */
.node-label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.node-ip-label {
    -fx-text-fill: rgb(163, 163, 163);
    -fx-font-size: 10px;
}

/* Latency label styling */
.latency-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Hover effect for nodes */
.node-background:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.1), 6, 0.5, 0, 0);
    -fx-background-color: #2e206b;
}

